{% extends 'myapp/base.html' %}
{% block title%} About {% endblock title %}
{% load static %}
{%block content%}
        <h1> Bienvenidos a esta pagina de acerca de<h1>
            <p> Esta es la pagina acerca de </p>
    </body>
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          Toggle width collapse
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body" style="width: 300px;">
            This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
          </div>
        </div>
      </div>
{% endblock content %} 